.container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.back_button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
    color: #1890ff;
    cursor: pointer;
}

.back_button:hover {
    text-decoration: underline;
}
  
.avatar {
    margin-right: 20px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }

.heading {
    text-align: center;
    font-size: 2.5rem;
    color: #002140;
}

.description {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 40px;
    color: #595959;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.form {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    transition: all 0.5s ease-in-out;
}

.form_centered {
    margin: 0 auto;
}

.form_shifted {
    margin-left: 0;
}

.predict_button {
    background-color: #1778ff;
    border-color: #1778ff;
    height: 40px;
    font-size: 16px;
}

.regenerate_button {
    margin-top: 10px;
    display: block;
    width: 100%;
}

.output_container {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    position: absolute;
    right: 0;
}

.output_visible {
    transform: translateX(0);
    opacity: 1;
    position: relative;
}

.output_content {
    overflow-y: auto;
    max-height: 500px;
}

.output_item {
    margin-bottom: 20px;
}

.output_item strong {
    display: block;
    margin-bottom: 5px;
    color: #595959;
}

.output_image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.output_placeholder {
    text-align: center;
    padding: 20px;
    color: #bfbfbf;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.empty_state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  